<p id="notice"><%= notice %></p>
<%= link_to qiniu_image_path @image.file.url do %>
<%= qiniu_image_tag @image.file.url, :thumbnail => '300x300>', :quality => 80 %>
<% end %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
